.checkout {
    margin: 2rem;

    &-form {
        display: flex;
        flex-direction: column;
        width: 50%;

        input {
            min-width: 200px;
            padding: 1rem;
            font-family: inherit;
            font-size: inherit;
            margin-bottom: 2rem;
        }
    }
}

.paypal {
    z-index: 0;
}

.checkout-modal{
    display: flex;
    flex-direction: column;
    
    h2,h3{
        margin: 0;
    }

    &-product {
        display: flex;
        &-image{
            margin: 1rem;
            width: 180px;
            min-width: 180px;

            img{
                height: 100%;
                width: 100%;
            }
        }
    }
}