.button-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    max-width: max-content;

    &-label {
        padding-right: 10px;
    }

    &.dark {
        color: black;
        border-color: black;
    }
}
