@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");

.sloganHomePage {
    margin-bottom: 5rem !important;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;       
    font-size: 2.8rem;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    max-width: 30rem;         
    line-height: 1.5;         
    margin: 0 auto;           
}

.titulo {
    margin-top: 4.2rem!important;
    margin-bottom: 1.5rem!important;
}

@media screen and (max-width: 375px) and (max-height: 667px) {
    .sloganHomePage {
        margin-top: 4rem !important; /* Ajusta el margen superior */
        margin-bottom: 2rem !important; /* Ajusta el margen inferior */
        font-size: 1rem !important;     /* Ajusta el tamaño de la fuente */
        max-width: 18rem;      /* Ajusta el ancho máximo para evitar saltos de línea innecesarios */
        line-height: 1.3;      /* Reduce ligeramente el espacio entre líneas */
        padding: 0 1rem;       /* Mantén el padding pequeño para evitar bordes */
    }
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh; // Asegura que el contenedor ocupe toda la altura de la pantalla

    .hero-video,
    .img-background {
        width: 100%;
        height: 100%; // Forza que ocupe el 100% de la altura del contenedor
        object-fit: cover; // Asegura que el contenido cubra el área sin distorsionarse
    }

    .cta {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        padding: 1rem;
        font-size: 1.2rem;
    }

    @media screen and (max-width: 375px) and (max-height: 667px) {
        height: 100vh; // Asegura que el contenedor ocupe la pantalla completa en dispositivos pequeños

        .hero-video,
        .img-background {
            width: 100%;
            height: 100%; // Forza que cubra la altura completa del contenedor
            object-fit: cover;
        }

        .cta {
            padding: 0.5rem;
            font-size: 1rem;
            line-height: 1.2;
            bottom: 1rem; // Ajusta la distancia desde el fondo de la pantalla
        }
    }
}

body {
    width: 100vw;
    height: 300vh;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    //background: linear-gradient(180deg, #40f, #05f);
}

.wrapper {
    width: 150px;
    height: 150px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.item {
    width: inherit;
    height: inherit;
    background: white;
    transform-origin: 50% 100%;
}
